importing libraries

In [1]:
import time
import datetime
import pandas as pd
import urllib.request

Downloading historical data of companies

In [2]:
listname = pd.read_csv("_ind_nifty500list.csv")
listname.head()

,Company Name,Industry,Symbol,Series,ISIN Code
0,3M India Ltd.,Diversified,3MINDIA,EQ,INE470A01017
1,ABB India Ltd.,Capital Goods,ABB,EQ,INE117A01022
2,ACC Ltd.,Construction Materials,ACC,EQ,INE012A01025
3,AIA Engineering Ltd.,Capital Goods,AIAENG,EQ,INE212H01026
4,APL Apollo Tubes Ltd.,Capital Goods,APLAPOLLO,EQ,INE702C01027

In [3]:
for ticker in listname['Symbol']:
    period1 = int(time.mktime(datetime.datetime(2022, 2, 9, 5, 30).timetuple())) # 9-Feb
    period2 = int(time.mktime(datetime.datetime(2022, 8, 10, 5, 30).timetuple())) # 9-Aug
    interval = "1d"

    query_string = "https://query1.finance.yahoo.com/v7/finance/download/{0}.NS?period1={1}&period2={2}&interval={3}&events=history&includeAdjustedClose=true".format(ticker, period1, period2, interval)

    try:
        urllib.request.urlretrieve(query_string, "{}.csv".format(ticker))
    except:
        continue